@import url(https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: black;
  font-family: "Alexandria", sans-serif;
  color: white;
  font-weight: 300;
}

/* Animations for Hero ================================================================================*/

:root {
  --rayTime: 1.05s;
}

@keyframes racing-light-a {
  0% {
    transform: translateX(0%) scaleX(0);
    opacity: 1;
  }

  25% {
    transform: translateX(-3%) scaleX(0.5);
    opacity: 1;
  }

  50% {
    transform: translateX(-6%) scaleX(1);
    opacity: 0;
  }

  100% {
    transform: translateX(-6%) scaleX(1);
    opacity: 0;
  }
}

.racing-light-a {
  animation: racing-light-a var(--rayTime) linear;
  transform-origin: 45% 50%;
}

@keyframes racing-light-b {
  0% {
    transform: translateX(0%) scaleX(0);
    opacity: 1;
  }

  25% {
    transform: translateX(3%) scaleX(0.5);
    opacity: 1;
  }

  50% {
    transform: translateX(6%) scaleX(1);
    opacity: 0;
  }

  100% {
    transform: translateX(6%) scaleX(1);
    opacity: 0;
  }
}

.racing-light-b {
  animation: racing-light-b var(--rayTime) linear;
  transform-origin: 54% 50%;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }
  
  65% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}

.flash {
  animation: flash var(--rayTime) ease-out;
}
